---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <header id="header" class="fixed top-0 w-full">
      <div class="container flex items-center justify-between pl-18">
        <h1 class="logo">
          <a href="index.html" class="!text-[20px]">COMPDES 2025</a>
        </h1>
        <nav id="" class="navbar">
          <ul>
            <li>
              <a class="nav-link scrollto" href="#informacion">Información</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="#cronograma">Cronograma</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="#organizacion">Organización</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="#contacto">Contacto y Sede</a>
            </li>
            <li>
              <a
                class="nav-link scrollto"
                target="_blank"
                href="https://www.facebook.com/COMPDES"
                ><img src="img/facebook.png" style="width: 20px;" />
              </a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>
    <section
      class="bg-[#124e57] px-4 h-[800px] bg-[url(/assets/img/hero-background-mobile.png)] md:bg-[url(/assets/img/hero-background.png)]">
      <div class="container-fluid h-full" data-aos="fade-up">
        <div class="row justify-content-center h-full">
          <div class="flex flex-col justify-center items-center h-full">
            <img src="/assets/img/logo-compdes-white.png" alt="Compdes white" class="w-12 mb-6" />
            <h1 class="text-[18px]! md:text-[20px]! text-white text-center md:text-start">XVII CONGRESO DE
              COMPUTACIÓN PARA EL DESARROLLO
            </h1>
            <div class="flex gap-2 md:gap-5">
              <h2 class="text-[50px]! md:text-[120px]! text-white">COMPDES</h2>
              <h3 class="text-[50px]! md:text-[120px]! text-[#B54745]">2025</h3>
            </div>
            <p class="text-xl! text-white  text-center md:text-star">Quetzaltenango, Guatemala del 16 al 18 de julio
              de 2025
            </p>
            <a href="#informacion"
              class="bg-[#B54745] border-1 border-[#B54745] text-white px-10 py-2 mt-4 rounded-sm hover:bg-transparent">Conoce
            más</a>
          </div>
        </div>
      </div>
    </section>
    <main id="main">
      <!--- ========================================================================================= -->
      <section id="informacion" class="pt-12">
        <div class="">
          <div
            class="prose prose-stone max-w-none text-xl prose-p:leading-relaxed prose-a:text-brand-red prose-a:no-underline prose-a:hover:text-brand-red/80 prose-a:transition prose-a:font-bold"
            data-aos="fade-down"
            >
            <section id="" class="max-lg:px-8 lg:max-w-4xl mx-auto py-12">
              <div class="">
                <div
                  class="prose prose-stone max-w-none text-xl prose-p:leading-relaxed prose-a:text-brand-red prose-a:no-underline prose-a:hover:text-brand-red/80 prose-a:transition prose-a:font-bold"
                  data-aos="fade-down"
                  >
                  <h2 class="text-3xl text-brand-red text-center">
                    Información
                  </h2>
                  <p class="">
                    El <strong
                      >XVIII Congreso Iberoamericano de Computación para el
                    Desarrollo - COMPDES2025 -</strong
                      > se desarrollará del 16 al 18 de julio de 2025, organizado por
                    el Centro Universitario de Occidente <span class="italic"
                      >-CUNOC-</span
                      > de la Universidad de San Carlos de Guatemala, con la colaboración
                    de la Universidad de Alcalá (España), en el marco de actividades
                    de la RED COMPDES.
                  </p>
                  <p class="">
                    <strong>
                    La sede del evento será la ciudad de Quetzaltenango,
                    Guatemala.
                    </strong>
                  </p>
                  <p class="">
                    La <strong class=""
                      ><a target="_blank" href="https://www.compdes.org/"
                      >Red COMPDES</a
                      ></strong
                      > está formada por diez Universidades públicas de Costa Rica,
                    El Salvador, España, Guatemala, Honduras y Nicaragua y tiene
                    como finalidad promover el intercambio de conocimiento entre
                    estudiantes, profesionales, docentes e investigadores de Iberoamérica
                    que trabajan en impulsar el desarrollo de los sectores de sus
                    países utilizando las tecnologías de información y comunicación.
                    Los congresos COMPDES son la actividad más notoria y se celebran
                    anualmente en una de las Universidades de la Red. (<a
                      target="_blank"
                      href="https://www.compdes.org/">web de Red COMPDES</a
                      >)
                  </p>
                </div>
                <div class="">
                  <img
                    src="img/LogoRedCompdes.png"
                    alt="Red Compdes"
                    width="1028"
                    />
                </div>
                <h2
                  class="text-center font-semibold text-brand-red border-t-2 border-b-2 p-4 text-lg"
                  >
                  Más Información a Partir de Abril de 2025
                </h2>
              </div>
            </section>
          </div>
        </div>
        <!--- ========================================================================================= -->
        <div
          class="w-full text-center bg-brand-green py-12 text-white font-bold text-2xl"
          >
        </div>
        <section id="cronograma" class="commonGreenSection commonGreenSection-bg pb-10!">
          <div class="flex justify-center w-full" data-aos="fade-up">
            <div class="section-title pb-0!">
              <h2 class="fontWhite">Cronograma de actividades</h2>
            </div>
          </div>
          <div class="w-10/12 md:w-7/12 lg:6/12 mx-auto relative text-[#B54745] ">
            <div class="border-l-2 mt-10">
              <!-- Tarjeta 1 -->
              <div class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-blue-600 text-white rounded mb-10 flex-col md:flex-row space-y-4 md:space-y-0"
                data-aos="zoom-in" data-aos-delay="300"
                >
                <!-- Punto -->
                <div class="w-5 h-5 bg-pink-600 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 mt-2 md:mt-0"></div>
                <!--Linea -->
                <div class="w-10 h-1 bg-blue-300 absolute -left-10 z-0"></div>
                <!--Contenido -->
                <div class="flex-auto">
                  <h4>Recepción de trabajos</h4>
                  <p>Período de recepción de trabajos: <br/>
                    <strong>hasta el 15 de junio 2024</strong> <br/>
                  </p>
                </div>
              </div>
              <!-- Tarjeta 2 -->
              <div class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-pink-600 text-white rounded mb-10 flex-col md:flex-row space-y-4 md:space-y-0"
                data-aos="zoom-in" data-aos-delay="300"
                >
                <!-- Punto -->
                <div class="w-5 h-5 bg-pink-600 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 mt-2 md:mt-0"></div>
                <!-- Linea -->
                <div class="w-10 h-1 bg-pink-300 absolute -left-10 z-0"></div>
                <!-- Contenido -->
                <div class="flex-auto">
                  <h4>Aceptación de trabajos</h4>
                  <p>Período de aceptación de trabajos:<br/> <strong>progresiva hasta el 30 de junio</strong>.</p>
                </div>
              </div>
              <!-- Tarjeta 3 -->
              <div class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-green-600 text-white rounded mb-10 flex-col md:flex-row space-y-4 md:space-y-0"
                data-aos="zoom-in" data-aos-delay="300"
                >
                <!-- Punto -->
                <div class="w-5 h-5 bg-green-600 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 mt-2 md:mt-0"></div>
                <!-- Linea -->
                <div class="w-10 h-1 bg-green-300 absolute -left-10 z-0"></div>
                <!-- Contenido -->
                <div class="flex-auto">
                  <h4>Envío versión final</h4>
                  <p>Envío de versión final de trabajos:<br/> <strong>hasta el 10 de Julio</strong>.</p>
                </div>
              </div>
              <!-- Tarjeta 4 -->
              <div class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-purple-600 text-white rounded mb-10 flex-col md:flex-row space-y-4 md:space-y-0"
                data-aos="zoom-in" data-aos-delay="300"
                >
                <!-- Punto -->
                <div class="w-5 h-5 bg-purple-600 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 mt-2 md:mt-0"></div>
                <!-- Linea -->
                <div class="w-10 h-1 bg-purple-300 absolute -left-10 z-0"></div>
                <!-- Contenido -->
                <div class="flex-auto">
                  <h4>Celebración del Congreso</h4>
                  <p>El Congreso COMPDES2024 se llevará a cabo los días <strong>17, 18 y 19 de julio de 2024</strong>.</p>
                </div>
              </div>
              <!-- Tarjeta 5 -->
              <div class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-yellow-600 text-white rounded mb-10 flex-col md:flex-row"
                data-aos="zoom-in" data-aos-delay="300"
                >
                <!-- Punto -->
                <div class="w-5 h-5 bg-yellow-600 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 -mt-2 md:mt-0"></div>
                <!-- Linea -->
                <div class="w-10 h-1 bg-yellow-300 absolute -left-10 z-0"></div>
                <!-- Contenido -->
                <div class="flex-auto">
                  <h4>Publicación del Libro del Congreso</h4>
                  <p>Está prevista la publicación, por la Editorial Universidad de Alcalá (España), de un Libro con una selección de los trabajos presentados durante el congreso.<br/>
                    <strong>Septiembre de 2024</strong>.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--- ========================================================================================= -->
        <section id="organizacion" class="p-10">
          <div class="container" data-aos="fade-up">
            <h2>Organización del Congreso</h2>
            <br />
            <div class="row gy-4">
              <div
                class="col-lg-6 col-md-6"
                data-aos="zoom-in"
                data-aos-delay="300"
                >
                <div class="icon-box iconbox-teal">
                  <h4>Comité Científico</h4>
                  <ul style="text-align:left">
                    <li>
                      Meziat Luna, Daniel. <i
                        >Universidad de Alcalá (España) – Presidente
                      </i>
                    </li>
                    <li>
                      Aguilera Centeno, Narciso Javier. <i
                        >Universidad Nacional de Ingeniería (Nicaragua)</i
                        >
                    </li>
                    <li>
                      Alarcos Alcázar, Bernardo. <i
                        >Universidad de Alcalá (España)</i
                        >
                    </li>
                    <li>Arco, José. <i>Universidad de Alcalá (España)</i></li>
                    <li>
                      Barchino, Roberto. <i>Universidad de Alcalá (España)</i>
                    </li>
                    <li>
                      Bengochea, Luis. <i>Universidad de Alcalá (España)</i>
                    </li>
                    <li>
                      Cabrera-Loayza, Ma. Carmen. <i
                        >Universidad Técnica Particular de Loja (Ecuador)</i
                        >
                    </li>
                    <li>
                      Calero, Coral. <i
                        >Universidad de Castilla-La Mancha (España)</i
                        >
                    </li>
                    <li>
                      Carballo Ruiz, Elmer Arturo. <i
                        >Universidad de El Salvador</i
                        >
                    </li>
                    <li>
                      De la Fuente, Pablo. <i
                        >Universidad de Valladolid (España)</i
                        >
                    </li>
                    <li>Díaz, Bladimir. <i>Universidad de El Salvador</i></li>
                    <li>
                      Domínguez, Mª José. <i>Universidad de Alcalá (España)</i>
                    </li>
                    <li>
                      Fernández del Castillo, José Raúl. <i
                        >Universidad de Alcalá (España)</i
                        >
                    </li>
                    <li>
                      Forero Paez, Nelson Augusto. <i
                        >Kryptogenesis - IT Security (Colombia)</i
                        >
                    </li>
                    <li>
                      García Astete, Margarita. <i
                        >Universidad de La Serena (Chile)</i
                        >
                    </li>
                    <li>
                      García Herraiz, Antonio. <i
                        >Universidad de Alcalá (España)</i
                        >
                    </li>
                    <li>
                      García Peñalvo, Francisco José. <i
                        >Universidad de Salamanca (España)</i
                        >
                    </li>
                    <li>
                      Garita, Cesar. <i>Instituto Tecnológico de Costa Rica</i>
                    </li>
                    <li>
                      González Enríquez, José. <i
                        >Universidad de Sevilla (España)</i
                        >
                    </li>
                    <li>
                      Guasch, Daniel. <i
                        >Universitat Politècnica de Catalunya (España)</i
                        >
                    </li>
                    <li>
                      Gutiérrez, José María. <i
                        >Universidad de Alcalá (España)</i
                        >
                    </li>
                    <li>
                      Gutiérrez-De-Mesa, José-Antonio. <i
                        >Universidad de Alcalá (España)</i
                        >
                    </li>
                    <li>
                      Hernández Ramírez, Oscar Guillermo. <i
                        >Univ. Nacional Autónoma de Honduras</i
                        >
                    </li>
                    <li>
                      Jaillier, Erika. <i
                        >Universidad Pontificia Bolivariana (Colombia)</i
                        >
                    </li>
                    <li>
                      Llanos, Diego R. <i>Universidad de Valladolid (España)</i>
                    </li>
                    <li>
                      López, Alicia Beatriz. <i
                        >Universidad Nacional de Mar del Plata (Argentina)</i
                        >
                    </li>
                    <li>
                      López, José Mario. <i
                        >Universidad Nacional Autónoma de Honduras</i
                        >
                    </li>
                    <li>
                      López Poveda, Anayanci. <i
                        >Universidad Nacional de Ingeniería (Nicaragua)</i
                        >
                    </li>
                    <li>
                      López Quiroa, Christian Alberto. <i
                        >Universidad de San Carlos (Guatemala)</i
                        >
                    </li>
                    <li>
                      López Villegas, Óscar. <i
                        >Instituto Tecnológico de Costa Rica</i
                        >
                    </li>
                    <li>
                      McKensy Sambola, Dexon. <i
                        >Bluefields Indian & Caribbean University (Nicaragua)</i
                        >
                    </li>
                    <li>Mejía, Guillermo. <i>Universidad de El Salvador</i></li>
                    <li>
                      Munguía-Mena, Marco. <i
                        >Universidad Nacional de Ingeniería (Nicaragua)</i
                        >
                    </li>
                    <li>
                      Oyarzo, Jaime. <i>Universidad de Alcalá (España)</i>
                    </li>
                    <li>
                      Palma Mendoza, Raúl José. <i
                        >Universidad Nacional Autónoma de Honduras</i
                        >
                    </li>
                    <li>
                      Población, Óscar. <i> Universidad de Alcalá (España)</i>
                    </li>
                    <li>Portillo, Julio. <i>Universidad de El Salvador</i></li>
                    <li>
                      Prieto, Manuel. <i>Universidad de Alcalá (España)</i>
                    </li>
                    <li>
                      Restrepo Bustamante, Félix Andrés. <i
                        >Universidad de Alcalá (España)</i
                        >
                    </li>
                    <li>
                      Romero-Peláez, Audrey. <i
                        >Universidad Técnica Particular de Loja (Ecuador)</i
                        >
                    </li>
                    <li>
                      Sánchez Prieto, Sebastián. <i
                        >Universidad de Alcalá (España)</i
                        >
                    </li>
                    <li>
                      Vegas, Jesús. <i>Universidad de Valladolid (España)</i>
                    </li>
                    <li>
                      Velasco, Juan Ramón. <i>Universidad de Alcalá (España)</i>
                    </li>
                    <li>
                      Vicente Rodríguez, Antonio J. de. <i
                        >Universidad de Alcalá (España)</i
                        >
                    </li>
                  </ul>
                </div>
              </div>
              <div
                class="col-lg-6 col-md-6"
                data-aos="zoom-in"
                data-aos-delay="300"
                >
                <div class="icon-box iconbox-teal">
                  <h4>Comité de Organización</h4>
                  <ul style="text-align:left">
                    <li>
                      Beyker Obando. <i
                        >Universidad de Costa Rica - Presidente</i
                        >
                    </li>
                    <li>Rafael Martínez. <i>Universidad de Costa Rica</i></li>
                    <li>
                      Luis Eduardo Amaya. <i>Universidad de Costa Rica</i>
                    </li>
                    <li>Óscar López. <i>Tecnológico de Costa Rica</i></li>
                    <li>
                      Daniel Meziat. <i>Universidad de Alcalá (España)</i>
                    </li>
                    <li>
                      Luis Bengochea. <i>Universidad de Alcalá (España)</i>
                    </li>
                  </ul>
                </div>
                <br />
                <div class="icon-box iconbox-teal">
                  <h4>La Universidad de Costa Rica</h4>
                  La <u>Universidad de Costa Rica</u> Sede Guanacaste (https://www.ucr.ac.cr/),
                  es una institución de educación superior abanderada de la enseñanza
                  humanista y de la excelencia. Desde su constitución en 1940 esta
                  Institución goza de Autonomía Universitaria y en el 2001 fue declarada
                  Institución Benemérita de la Educación y la Cultura Costarricense.
                  La Universidad de Costa Rica aspira a ser una universidad pública
                  referente en la educación superior internacional, inclusiva, innovadora,
                  proactiva, sostenible y solidaria. Asimismo, se propone fortalecer
                  la excelencia académica, la generación y la difusión del conocimiento,
                  el diálogo de saberes con vocación transformadora, la internacionalización
                  y la vinculación Universidad-Sociedad-Estado, siendo responsable
                  y transparente en el uso de los recursos, a fin de promover la
                  movilidad social ascendente, la búsqueda del bien común y el desarrollo
                  territorial y nacional.
                </div>
                <br />
                <div class="icon-box iconbox-teal">
                  <h4>Representantes de la Red Compdes</h4>
                  <li>
                    Óscar López. <i>Tecnológico de Costa Rica</i> (Presidente)
                  </li>
                  <li>
                    Daniel Meziat. <i>Universidad de Alcalá (España)</i> (Presidente
                    de Honor)
                  </li>
                  <br />
                  <li>Alarcón, Francisco. <i>Universidad de El Salvador</i></li>
                  <li>Amaya, Luis Eduardo. <i>Universidad de Costa Rica</i></li>
                  <li>
                    Bárcenas Lezama, Miguel Ángel. <i>UNAN – León (Nicaragua)</i
                      >
                  </li>
                  <li>Bengochea Martínez, Luis. <i>UAH (España)</i></li>
                  <li>
                    Carol Hernández, Víctor. <i>CUNOC-USAC (Guatemala)</i>
                  </li>
                  <li>
                    Contreras Mercado, Arnoldo José. <i>UNAN-León (Nicaragua)</i
                      >
                  </li>
                  <li>Chávez Mairena, Luis Eduardo. <i>UNI (Nicaragua)</i></li>
                  <li>Chicas, Rudy. <i>Universidad de El Salvador</i></li>
                  <li>
                    Esquivel Vega, Gaudy. <i>Tecnológico de Costa Rica</i>
                  </li>
                  <li>Gross, Eduardo. <i>UNAH (Honduras)</i></li>
                  <li>Juárez, Nelson. <i>UNI (Nicaragua)</i></li>
                  <li>López, Christian. <i>CUNOC-USAC (Guatemala)</i></li>
                  <li>López, Roy. <i>BICU (Nicaragua)</i></li>
                  <li>López Poveda, Anayanci. <i>UNI (Nicaragua)</i></li>
                  <li>Mejía Quiroz, Álvaro. <i>UNAN-Managua (Nicaragua)</i></li>
                  <li>Palma Mendoza, Raúl. <i>UNAH (Honduras)</i></li>
                  <li>Portillo, Julio. <i>Universidad de El Salvador</i></li>
                  <li>Sambola, Dexon-Mckensy. <i>BICU (Nicaragua)</i></li>
                  <li>
                    Sánchez, José María. <i>Universidad de El Salvador</i>
                  </li>
                  <li>Sierra Pac, Oliver. <i>CUNOC-USAC (Guatemala)</i></li>
                  <li>Vásquez, Rodrigo. <i>Universidad de El Salvador</i></li>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--- ========================================================================================= -->
        <section id="contacto" class="commonGreenSection commonGreenSection-bg p-10 md:p-10">
          <div class="container w-full" data-aos="fade-up">
            <div class="w-full">
              <div class="w-full" data-aos="zoom-in" data-aos-delay="300">
                <div class="fontWhite flex flex-col md:flex-row md:justify-between w-full">
                  <div>
                    <h2 class="text-3xl">
                      <font color="#A9F5F2">Contacto</font>
                    </h2>
                    USAC - Centro Universitario de Occidente<br />
                    E-mail: <a href="mailto:ingenieria.cunoc@usac.edu.gt">
                    <font color="#A9F5F2">ingenieria.cunoc@usac.edu.gt</font>
                    </a>
                    <img src="/assets/img/logo-cunoc.png" class="img-fluid animated w-[350px] mt-6"
                      alt="Universidad de Costa Rica">
                  </div>
                  <div class="mt-10">
                    <h3 class="text-2xl text-[#A9F5F2]">Dirección</h3>
                    Universidad de San Carlos de Guatemala, Centro Universitario de Occidente (Quetzaltenango)
                    <div class="mt-3">
                      <div class="md:hidden">
                        <iframe
                          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3856.6459512479055!2d-91.5376615250521!3d14.84511567104381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x858e981c19538301%3A0xcc4978b7a2923535!2sCentro%20Universitario%20de%20Occidente!5e0!3m2!1ses!2sgt!4v1744052503609!5m2!1ses!2sgt"
                          width="310" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                          referrerpolicy="no-referrer-when-downgrade"></iframe>
                      </div>
                      <div class="hidden md:block">
                        <iframe
                          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3856.6459512479055!2d-91.5376615250521!3d14.84511567104381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x858e981c19538301%3A0xcc4978b7a2923535!2sCentro%20Universitario%20de%20Occidente!5e0!3m2!1ses!2sgt!4v1744052503609!5m2!1ses!2sgt"
                          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                          referrerpolicy="no-referrer-when-downgrade"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--- ========================================================================================= -->
      </section>
      <!--- ========================================================================================= -->
      <footer id="footer">
        <div class="container">
          <div class="subfoot-wrap d-md-flex py-4">
            <div class="me-md-auto text-center text-md-start">
              <div class="subfoot">
                COMPDES2025 - <strong><span>CUNOC</span></strong> - Centro Universitario
                de Occidente. Universidad de San Carlos de Guatemala.
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!--- ========================================================================================= -->
      <script src="/assets/js/aos.js" is:inline></script>
      <script src="/assets/js/bootstrap.bundle.min.js" is:inline></script>
      <script src="/assets/js/isotope.pkgd.min.js" is:inline></script>
      <script src="/assets/js/main.js" is:inline></script>
      <script src="/assets/js/certificates.js" is:inline></script>
    </main>
</Layout>

