---
import ExternalLinkIcon from "../icons/ExternalLinkIcon.astro";
import PlusIcon from "../icons/PlusIcon.astro";
import CustomDetails from "./CustomDetails.astro";
---

<div class="space-y-3 select-none px-4 md:px-56 mt-6">
  <CustomDetails>
    <summary class="list-none cursor-pointer p-3 flex font-semibold items-center gap-2 text-white">
      <PlusIcon
        class="text-white group-open:stroke-3 stroke-2 group-open:rotate-45 transition-transform duration-300 group-open:text-brand-red"
      />
      <span class="text-3xl mr-1.5"></span> <span class="text-lg group-open:text-white text-white/85">Nacionales</span>
    </summary>

    <section id="pago-extranjeros" class="p-6 bg-gray-50">
     
      <div class="bg-white shadow-md rounded-lg p-6 mb-8" data-aos="zoom-in" data-aos-delay="300">
          <h2 class="text-3xl font-bold text-brand-red !my-4">Instrucciones de pago</h2>
          <ul class="list-disc pl-5 space-y-3 text-gray-800">
          <li>Realiza el pago de Q350.00 mediante dep贸sitos, transferencias o pagos en efectivo.</li>
          <li>
            Para dep贸sitos y transferencias a la cuenta:<br>
            <strong>Banco:</strong> Banrural<br>
            <strong>Nombre:</strong> Enrique Alexander Tebal谩n Hernandez<br>
            <strong>Tipo de cuenta:</strong> Cuenta de ahorros<br>
            <strong>N煤mero de cuenta:</strong> 4034284384<br>
            <strong>Moneda:</strong> Quetzales
          </li>
          <li>
            Para pagos en efectivo, ac茅rcate al stand de pago en la entrada del m贸dulo G-Cunoc 
            desde las <span class="font-bold">13:00</span> horas a <span class="font-bold">15:00</span> horas y desde las <span class="font-bold">17:00</span> horas a <span class="font-bold">19:00</span> horas, de lunes a viernes (durante junio 2025).
          </li>
          <li>Guarda tu recibo de pago, boleta bancaria de pago o captura de transferencia exitosa.</li>
          <li>
              Llena el formulario de inscripci贸n mediante el siguiente link:
              <a href="https://forms.gle/tRQEbz1KaUHHg5nR6" target="_blank" class="text-teal-600 hover:text-teal-800">
                (Formulario de inscripci贸n)
              </a>,
               y adjunta dos fotograf铆as de comprobante de pago (recibo de pago y boleta bancaria o captura de transferencia) junto con tus datos.
            </li>
        </ul>

        <div class="mt-10 flex flex-col md:flex-row gap-6">
          <img src="img/banrural-pago2.jpeg" class="w-56 h-[335px]" />
          <img src="img/banrural-pago.jpeg" class="w-[450px] h-[200px] md:h-[315px]" />
        </div>

        <h4 class="text-xl font-semibold mt-6 mb-3 text-teal-600">Bienvenido a COMPDES</h4>
        <p class="text-gray-800">
          Si tienes problemas al realizar tu pago, comun铆cate a:
          <a href="mailto:enriquetebalan202230026@cunoc.edu.gt" class="text-teal-600 hover:text-teal-800">
            enriquetebalan202230026@cunoc.edu.gt
          </a>
        </p>
      </div>
    </section>
  </CustomDetails>

  <CustomDetails>
    <summary class="list-none cursor-pointer p-3 flex font-semibold items-center gap-2 text-white">
      <PlusIcon
        class="text-white group-open:stroke-3 stroke-2 group-open:rotate-45 transition-transform duration-300 group-open:text-brand-red"
      />
      <span class="text-3xl mr-1.5">锔</span> <span class="text-lg group-open:text-white text-white/85">Extranjeros</span>
    </summary>

    <section id="pago-extranjeros" class="p-6 bg-gray-50">
     
      <div class="bg-white shadow-md rounded-lg p-6 mb-8" data-aos="zoom-in" data-aos-delay="300">
          <h2 class="text-3xl font-bold text-brand-red !my-4">Instrucciones de pago</h2>
          <h4 class="text-xl font-semibold mt-6 mb-3 text-teal-600">Realiza el Pago en l铆nea</h4>
          <p class="mb-4">
            Mediante:
            <a href="https://app.recurrente.com/checkout-session/ch_gzv3nkfdre74yqqq" target="_blank" class="text-teal-600 hover:text-teal-800">
              https://app.recurrente.com/checkout-session/ch_gzv3nkfdre74yqqq
            </a>
          </p>
          <ul class="list-disc pl-5 space-y-3 text-gray-800">
            <li>
              Haz el pago con tu tarjeta de D茅bito o Cr茅dito VISA o MASTERCARD de $45.00
              (<u>NO TRANSFERENCIAS</u>).
            </li>
            <li>Ingresa tu nombre completo.</li>
            <li>Ingresa tu correo electr贸nico.</li>
            <li>Llena el formulario de pago con los datos de tu tarjeta.</li>
            <li>Elige el pa铆s al que pertenece tu tarjeta.</li>
            <li>Procede con el pago.</li>
            <li>Toma captura de tu pago exitoso y comparte el link del comprobante de pago exitoso.</li>
            <li>
              Al realizarlo correctamente, recibir谩s un mensaje a tu correo con la confirmaci贸n del pago.
            </li>
            <li>
              Llena el formulario de inscripci贸n mediante el siguiente link:
              <a href="https://forms.gle/tRQEbz1KaUHHg5nR6" target="_blank" class="text-teal-600 hover:text-teal-800">
                (Formulario de inscripci贸n)
              </a>,
              y adjunta el link de comprobante de pago.
            </li>
          </ul>

          <h4 class="text-xl font-semibold mt-6 mb-3 text-teal-600">Bienvenido a COMPDES</h4>
          <p class="text-gray-800">
            Si tienes alg煤n problema con realizar tu pago en l铆nea, comun铆cate a:
            <a href="mailto:enriquetebalan202230026@cunoc.edu.gt" class="text-teal-600 hover:text-teal-800">
              enriquetebalan202230026@cunoc.edu.gt
            </a>
          </p>
      </div>
    </section>
  </CustomDetails>
</div>
