---
import ExternalLinkIcon from "../icons/ExternalLinkIcon.astro";
import PlusIcon from "../icons/PlusIcon.astro";
import CustomDetails from "./CustomDetails.astro";
---

<div class="space-y-3 select-none px-4 md:px-56 mt-6">
  <CustomDetails>
    <summary class="list-none cursor-pointer p-3 flex font-semibold items-center gap-2 text-white">
      <PlusIcon
        class="text-white group-open:stroke-3 stroke-2 group-open:rotate-45 transition-transform duration-300 group-open:text-brand-red"
      />
      <span class="text-3xl mr-1.5">游섫릖</span> <span class="text-lg group-open:text-white text-white/85">Nacionales</span>
    </summary>

    <section id="pago-extranjeros" class="p-6 bg-gray-50">
     
      <div class="bg-white shadow-md rounded-lg p-6 mb-8" data-aos="zoom-in" data-aos-delay="300">
          <h2 class="text-3xl font-bold text-brand-red !my-4">Instrucciones de pago</h2>

            <!-- INCENTIVO -->
          <div class="bg-brand-red/10 border border-brand-red text-brand-red text-lg font-semibold rounded-md px-4 py-3 mb-6 text-center">
            游꾸 춰Los primeros 100 en inscribirse participar치n en el sorteo de premios especiales!
          </div>
          
          <ul class="list-disc pl-5 space-y-3 text-gray-800">
          <li>Realiza el pago de  <strong>Q350.00</strong> mediante dep칩sitos, transferencias o pagos en efectivo.</li>
          <li>
            Para dep칩sitos y transferencias a la cuenta:<br>
            <strong>Banco:</strong> Banrural<br>
            <strong>Nombre:</strong> Enrique Alexander Tebal치n Hernandez<br>
            <strong>Tipo de cuenta:</strong> Cuenta de ahorros<br>
            <strong>N칰mero de cuenta:</strong> 4034284384<br>
            <strong>Moneda:</strong> Quetzales
          </li>
          <li>
            Para pagos en efectivo, ac칠rcate al stand de pago en la entrada del m칩dulo G-Cunoc 
            desde las <span class="font-bold">13:00</span> horas a <span class="font-bold">15:00</span> horas y desde las <span class="font-bold">17:00</span> horas a <span class="font-bold">19:00</span> horas, de lunes a viernes (durante junio 2025).
          </li>
          <li>Guarda tu recibo de pago, boleta bancaria de pago o captura de transferencia exitosa.</li>
          <li>
              Llena el formulario de inscripci칩n mediante el siguiente link:
              <a href="https://forms.gle/tRQEbz1KaUHHg5nR6" target="_blank" class="text-teal-600 hover:text-teal-800">
                (Formulario de inscripci칩n)
              </a>,
               y adjunta dos fotograf칤as de comprobante de pago (recibo de pago y boleta bancaria o captura de transferencia) junto con tus datos.
            </li>
        </ul>

        <div class="mt-10 flex flex-col md:flex-row gap-6">
          <img src="img/banrural-pago2.jpeg" class="w-56 h-[335px]" />
          <img src="img/banrural-pago.jpeg" class="w-[450px] h-[200px] md:h-[315px]" />
        </div>

        <h4 class="text-xl font-semibold mt-6 mb-3 text-teal-600">Bienvenido a COMPDES</h4>
        <p class="text-gray-800">
          Si tienes problemas al realizar tu pago, comun칤cate a:
          <a href="mailto:enriquetebalan202230026@cunoc.edu.gt" class="text-teal-600 hover:text-teal-800">
            enriquetebalan202230026@cunoc.edu.gt
          </a>
        </p>
      </div>
    </section>
  </CustomDetails>

  <CustomDetails>
    <summary class="list-none cursor-pointer p-3 flex font-semibold items-center gap-2 text-white">
      <PlusIcon
        class="text-white group-open:stroke-3 stroke-2 group-open:rotate-45 transition-transform duration-300 group-open:text-brand-red"
      />
      <span class="text-3xl mr-1.5">九걾잺</span> <span class="text-lg group-open:text-white text-white/85">Extranjeros</span>
    </summary>

    <section id="pago-extranjeros" class="p-6 bg-gray-50">
      <div class="bg-white shadow-md rounded-lg p-6 mb-8" data-aos="zoom-in" data-aos-delay="300">
          <h2 class="text-3xl font-bold text-brand-red !my-4">Instrucciones de pago</h2>

            <!-- INCENTIVO -->
          <div class="bg-brand-red/10 border border-brand-red text-brand-red text-lg font-semibold rounded-md px-4 py-3 mb-6 text-center">
            游꾸 춰Los primeros 100 en inscribirse participar치n en el sorteo de premios especiales!
          </div>

          <h4 class="text-xl font-semibold mt-6 mb-3 text-teal-600">Realiza el Pago en l칤nea</h4>
        
          <ul class="list-disc pl-5 space-y-3 text-gray-800">
            <li>
              Realiza el pago en l칤nea mediante:
              <a
                href="https://app.recurrente.com/s/pago-compdes-2025-quetzaltenango/pago-de-inscripcion-a-congreso-compdes-2025-quetzaltenango-guatemala-qrauvp"
                target="_blank"
                class="text-teal-600 hover:text-teal-800"
              >
                este enlace de Recurrente
              </a>.
            </li>
            <li>
              Haz el pago con tu tarjeta de D칠bito o Cr칠dito VISA o MASTERCARD de <strong>$45.00</strong>
              (<u>NO TRANSFERENCIAS, NO DEP칍SITOS, NO PAGOS EN EFECTIVO</u>).
            </li>
            <li>
              Previamente deber치s crear una cuenta en la aplicaci칩n web
              <a
                href="https://www.recurrente.com"
                target="_blank"
                class="text-teal-600 hover:text-teal-800"
              >
                www.recurrente.com
              </a>
              para poder realizar el pago.
            </li>
            <li>Ingresa tu nombre completo.</li>
            <li>Ingresa tu correo electr칩nico.</li>
            <li>Llena el formulario de pago con los datos de tu tarjeta.</li>
            <li>Elige el pa칤s al que pertenece tu tarjeta.</li>
            <li>Procede con el pago.</li>
            <li>
              Toma captura de tu pago exitoso y comparte el link del comprobante de pago exitoso.
            </li>
            <li>
              Al realizarlo correctamente, recibir치s un mensaje a tu correo con la confirmaci칩n del pago.
            </li>
            <li>
              Llena el formulario de inscripci칩n mediante el siguiente link:
              <a
                href="https://forms.gle/tRQEbz1KaUHHg5nR6"
                target="_blank"
                class="text-teal-600 hover:text-teal-800"
              >
                (Formulario de inscripci칩n)
              </a>,
              y adjunta el link del comprobante de pago.
            </li>
          </ul>


          <h4 class="text-xl font-semibold mt-6 mb-3 text-teal-600">Bienvenido a COMPDES</h4>
          <p class="text-gray-800">
            Si tienes alg칰n problema con realizar tu pago en l칤nea, comun칤cate a:
            <a href="mailto:enriquetebalan202230026@cunoc.edu.gt" class="text-teal-600 hover:text-teal-800">
              enriquetebalan202230026@cunoc.edu.gt
            </a>
          </p>
      </div>
    </section>
  </CustomDetails>

 <CustomDetails>
  <summary class="list-none cursor-pointer p-3 flex font-semibold items-center gap-2 text-white">
    <PlusIcon
      class="text-white group-open:stroke-3 stroke-2 group-open:rotate-45 transition-transform duration-300 group-open:text-brand-red"
    />
    <span class="text-3xl mr-1.5">游눹</span>
    <span class="text-lg group-open:text-white text-white/85">Participaci칩n virtual</span>
  </summary>

  <section id="pago-virtual" class="p-6 bg-gray-50">
    <div class="bg-white shadow-md rounded-lg p-6 mb-8" data-aos="zoom-in" data-aos-delay="300">
      <h2 class="text-3xl font-bold text-brand-red !my-4">Instrucciones de pago</h2>

      <p class="text-gray-800 mb-6">
        En esta modalidad podr치s tener acceso a la <strong>retransmisi칩n en vivo de los talleres del congreso</strong> mediante una plataforma virtual, a la cual se te brindar치 acceso tras completar el pago e inscripci칩n.
      </p>

      <h4 class="text-xl font-semibold mt-6 mb-3 text-teal-600">Pago en l칤nea para asistentes virtuales</h4>

      <ul class="list-decimal pl-5 space-y-3 text-gray-800">
        <li>
          Realiza el pago en l칤nea mediante:
          <a
            href="https://app.recurrente.com/s/pago-compdes-2025-quetzaltenango/pago-de-inscripcion-a-compdes-2025-de-manera-virtual"
            target="_blank"
            class="text-teal-600 hover:text-teal-800"
          >
            este enlace de Recurrente
          </a>.
        </li>
        <li>
          Haz el pago con tu tarjeta de D칠bito o Cr칠dito VISA o MASTERCARD de <strong>$30.00</strong>
          (<u>NO TRANSFERENCIAS, NO DEP칍SITOS, NO PAGOS EN EFECTIVO</u>).
        </li>
        <li>
          Previamente deber치s crear una cuenta en
          <a
            href="https://www.recurrente.com"
            target="_blank"
            class="text-teal-600 hover:text-teal-800"
          >
            www.recurrente.com
          </a>
          para poder realizar el pago.
        </li>
        <li>Ingresa tu nombre completo.</li>
        <li>Ingresa tu correo electr칩nico.</li>
        <li>Llena el formulario de pago con los datos de tu tarjeta.</li>
        <li>Elige el pa칤s al que pertenece tu tarjeta.</li>
        <li>Procede con el pago.</li>
        <li>Toma captura de tu pago exitoso y guarda el link del comprobante.</li>
        <li>Recibir치s un mensaje en tu correo con la confirmaci칩n del pago.</li>
        <li>
          Llena el formulario de inscripci칩n mediante el siguiente link:
          <a
            href="https://forms.gle/tRQEbz1KaUHHg5nR6"
            target="_blank"
            class="text-teal-600 hover:text-teal-800"
          >
            (Formulario de inscripci칩n)
          </a>, y adjunta el comprobante de pago.
        </li>
        <li>
          Al completar tu inscripci칩n correctamente, se te enviar치 un correo de confirmaci칩n. D칤as previos al evento recibir치s por ese mismo medio la <strong>metodolog칤a de acceso al contenido virtual</strong>.
        </li>
      </ul>

      <h4 class="text-xl font-semibold mt-6 mb-3 text-teal-600">Bienvenido a COMPDES</h4>
      <p class="text-gray-800">
        Si tienes alg칰n problema con realizar tu pago en l칤nea, comun칤cate a:
        <a href="mailto:enriquetebalan202230026@cunoc.edu.gt" class="text-teal-600 hover:text-teal-800">
          enriquetebalan202230026@cunoc.edu.gt
        </a>
      </p>
    </div>
  </section>
</CustomDetails>


</div>
