---
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
	  
		<title>COMPDES 2024</title>
		<meta content="Sitio de COMPDES 2024" name="description">
		<meta content="José Inestroza/Luis Bengochea" name="author">
		<meta content="COMPDES 2024" name="keywords">
	  
		<link href="img/favicon.png" rel="icon">
	  
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	  
		<link href="/assets/css/aos.css" rel="stylesheet">
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="/assets/boxicons/css/boxicons.min.css" rel="stylesheet">
		<link href="/assets/css/style.css" rel="stylesheet">
	  </head>
	  
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
